<div id="container">  
<ul>
<li> <a href="#">HOME</a></li>
<li> <a href="#">CUSTOMER</a>
    <ul>
        <li><a routerLink="khach-hang1">Customer 1</a></li>
        <li><a  routerLink="khach-hang2">Customer 2</a></li>
        <li><a  routerLink="khach-hang3">Customer 3</a></li>
    </ul>
</li>
<li> <a href="#">Products</a>
    <ul>
     <li> <a routerLink="san-pham1">PRODUCT 1</a></li>
     <li> <a href="#">PRODUCT 2</a></li>
     <li> <a href="#">PRODUCT 3</a></li>
 </ul>
</li>
<li> <a href="#">FORMS</a>
 <ul>
     <li> <a>FORM</a></li>
     <li> <a>REACTIVE FORM</a></li>
 </ul>
</li>
<li> <a href="#">EXTERNAL API</a>
 <ul>
     <li> <a routerLink="ex26">EX 26</a></li>
     <li> <a>EX 27</a></li>
 </ul>
 <li> <a href="#">INTERNAL API</a>
 <ul>
     <li> <a routerLink="ex39">EX 39</a></li>
     <li> <a>EX 40</a></li>
 </ul>
</li>
<li> <a href="#">HTML DOM</a></li>
<li> <a href="#">NGÔN NGỮ ASP</a></li>

<li> <a routerLink="gioi-thieu">ABOUT</a></li>
</ul>

</div>

<router-outlet />
